hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eeeeee -moz-use-text-color #ffffff;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

body {
  font: "Lato", sans-serif;
  color: #676858;
  font-weight: 300;
}

.title-super {
	font-size: 60px;
}

.title-logo {
  margin: 20px 0 0 0;
}